<ul class="list-unstyled">
  <% tasks.each do |task| %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(task.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <%= link_to task.user.name, root_path %><span class="text-muted">posted at <%= task.created_at %></span>
        </div>
        <div>
          <p><%= task.status %></p>
        </div>
        <div>
          <p><%= task.content %></p>
        </div>
        <div>
          <% if current_user == task.user %>
            <%= link_to 'タスク詳細', task, class: 'btn btn-secondary btn-sm' %>
            <%= link_to "タスク削除", task, method: :delete, data: { confirm: "本当に削除してよろしいですか？" }, class: 'btn btn-danger btn-sm' %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <% paginate tasks %>
</ul>

<div>
  <%= link_to '新規タスクの登録', new_task_path, class: 'btn btn-primary' %>
</div>